bobby-*.jar
.gradle-user/
run/
releases/*
!releases/*.jar
releases/*-sources.jar
.gradle/
build/
out/
bin/
.idea/
*.ipr
*.iws
*.iml
.vscode/
*.log
logs.txt
bobby_share_icon.jpg
.DS_Store
**/.DS_Store
